/** Created by guangqiang on 2018-06-29 17:55:28 */
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_913281_sji1pu65amq.eot');
  src: url('//at.alicdn.com/t/font_913281_sji1pu65amq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_913281_sji1pu65amq.woff') format('woff'),
  url('//at.alicdn.com/t/font_913281_sji1pu65amq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_913281_sji1pu65amq.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:after {
  font-family: 'iconfont';
  // font-weight: lighter;
  font-style: normal;
}
.mt-dagou-o:after { content: "\e607"; }
.mt-phones-o:after { content: "\e674"; }
.mt-business1-o:after { content: "\e616"; }
